<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
			xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-4.1.xsd">
			
	<http security="none" pattern="/jsp/login.jsp" />
	<http security="none" pattern="/jsp/logout.jsp" />
	<http security="none" pattern="/jsp/loginerr.jsp" />
	<http security="none" pattern="/jsp/share.jsp" />
	<http security="none" pattern="/jsp/share/**" />
	<http security="none" pattern="/jsp/down-app.jsp" />
	<http security="none" pattern="/jsp/images/**" />
	<http security="none" pattern="/jsp/drawable-tvdpi/**" />
	<http security="none" pattern="/web/share.do" />
	<http security="none" pattern="/web/share/**" />
	<http security="none" pattern="/web/reg2.do" />
	<http security="none" pattern="/common/**" />
	<http security="none" pattern="/app/**" />
	<http security="none" pattern="/upload/**" />
	<http auto-config="true">
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
		
		<csrf disabled="true"/>
		
		<form-login login-page="/jsp/login.jsp" 
					always-use-default-target="true"
					username-parameter="s_username"
					password-parameter="s_password"
					login-processing-url="/login.action"
					default-target-url="/jsp/welcome.jsp"
					authentication-failure-url="/jsp/loginerr.jsp"  />
		
		<logout logout-success-url="/jsp/logout.jsp" logout-url="/logout.action"
				invalidate-session="true" delete-cookies="JSESSIONID" />
				
		<headers>
			<frame-options policy="SAMEORIGIN"/>
		</headers>
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="userService">
			<password-encoder hash="md5"></password-encoder>
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="userService" class="com.cs.service.impl.UserServiceImpl" />
	
</beans:beans>